#intro-wrap {
    position: absolute;
    z-index: 1;
    border-left: 15px solid rgba(0,0,0,.2);
    width: 200px;
    right: -190px;
	top: 390px;
	margin-bottom: 0;
}

#intro-wrap h1 {
    font-family: "PT Sans Narrow";
    font-size: 25px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 0px !important;
    padding-bottom: 10px;
}

#intro-wrap p {
    line-height: 19px;
    color: #999;
}
.open-intro,
.close-intro {
    position:absolute;
    right:200px;
    cursor: pointer;
    width: 25px;
    height: 25px;
    z-index: 50;
    padding-left:15px;
}
.open-intro {
    background: yellow 
}
.close-intro {
    display: none;
    background: red; 
}

